/* :root {
    --color-primary: #235ad1;
  } */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a, ul ,li{
    color: white;
    list-style-type: none;
    box-sizing: border-box;

}

body{
    font-family: Montserrat;
    
}

.container{
    max-width: 1216px;
    margin: 0 auto;
}

.wrapper{
    background-image: url(img/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 952px;
    object-fit: contain;
    position: relative;
}

.header{
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    margin-bottom: 314px;
}

.header .container{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-list{
     display: flex;
     align-items: center;
}

.nav-item{
    font-weight: 600;
}

.nav-item:not(:last-child){
    margin-right: 32px;
}

 .hero{
   
    height: 322px;
   width: 727px;
    
    display: block;
    color: white;
}

.block{
    position: absolute;
   height: fit-content; 
    background: white;
   font-family: Montserrat;
   font-weight: medium;
   font-size: 20px;
   top: 850px;
   width: 1216px;
   border-radius: 8px;
   bottom: 37px;
   color: black;
   
   filter: drop-shadow( 0px 5px 5px  rgba(0, 0, 0, 0.587));
    
}

.hero-title{
    font-weight: medium;
    font-size: 18px;
    margin-bottom: 8px;
}

.subtitle{
    font-family: "Playfair Display";
    text-transform: capitalize;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
    letter-spacing: 0px;
}

.hero p{
    font-weight: medium;
    font-size: 18px;
}

.details{
    background: #7F57F1;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 32px;
    display: block;
    width: 143px;
}

.block-text {
    padding-bottom: 42px;
    color: black;
   position: relative;
}

input{
    font-size: 20px;
    font-weight: medium;
    border: none;
    padding-right: 10px;
    width: 145px;
}

.block-text::after{
    position: absolute;
    top: 0;
    content: "";
    background-image: url(img/Search.png);
    width: 24px;
    height: 24px;
    left: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;

    
}

button{
    border: 1px solid #D0D5DD;
    height: 44px;
    width: 253px;
    background: white;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding: 10px 14px;
    position: relative;
    
}

button::after{
    position: absolute;
    content: "";
    background-image: url(img/Arrow-Down.png);
    top: 10;
    right: 14px;
    width: 20px;
    height: 20px;

}

.button:hover{
    background: white;
}

.dropdown-options{
    display: none;
    position: absolute;
    overflow: auto;
    background: white;
    
    
}

.dropdown-options a{
    padding: 10px 14px;

}

.tyt-search{
    background: #7F57F1;
    padding: 12px 99px;
    border-radius: 8px;
}

.block{
   padding: 40px 39px;
}

.tyt{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.dropdown:hover .dropdown-options{
    display: block;
}

.dropdown-options a{
    display: block;
    color: black;
    width: 253px;
   

}

.search{
    background: #7F57F1;
   
}

.dropdown-options a:hover{
    color: #7F57F1;
    background: white;
}