/* :root {
    --color-primary: #235ad1;
  } */


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a, ul ,li{
    color: white;
    list-style-type: none;

}

body{
    font-family: Montserrat;
    
    
}






.container{
    max-width: 1216px;
    margin: 0 auto;

          

}

.wrapper{
    background-image: url(img/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 952px;
    object-fit: contain;
    position: relative;
    
}

.header{
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    margin-bottom: 314px;
    position: sticky;
    top: 0;
}

.header .container{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.main{
   
    display: flex;
            flex-direction: column;
            min-height: 100vh; /* Минимальная высота равна высоте окна */
}

.nav-list{
     display: flex;
     align-items: center;
}

.nav-item{
    font-weight: 600;
}

.nav-item:not(:last-child){
    margin-right: 32px;
}

 .hero{
   
    height: 322px;
   width: 727px;
    
    display: block;
    color: white;
}

.block{
    position: absolute;
   height: fit-content; 
    background: white;
   font-family: Montserrat;
   font-weight: medium;
   font-size: 20px;
   top: 850px;
   width: 1216px;
   border-radius: 8px;
   bottom: 37px;
   color: black;
   
   filter: drop-shadow( 0px 5px 5px  rgba(0, 0, 0, 0.587));
    
}

.hero-title{
    font-weight: medium;
    font-size: 18px;
    margin-bottom: 8px;
}

.subtitle{
    font-family: "Playfair Display";
    text-transform: capitalize;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 16px;
    letter-spacing: 0px;
}

.hero p{
    font-weight: medium;
    font-size: 18px;
}

.details{
    background: #7F57F1;
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 32px;
    display: block;
    width: 143px;
}

.block-text {
    padding-bottom: 42px;
    color: black;
   position: relative;
}

input{
    font-size: 20px;
    font-weight: medium;
    border: none;
    
    width: 145px;
}

.block-text::after{
    position: absolute;
    top: 0;
    content: "";
    background-image: url(img/Search.png);
    width: 24px;
    height: 24px;
    left: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown {
    display: inline-block;
    position: relative;

    
}

button{
    border: 1px solid #D0D5DD;
    height: 44px;
    width: 253px;
    background: white;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding: 10px 14px;
    position: relative;
    
}

button::after{
    position: absolute;
    content: "";
    background-image: url(img/Arrow-Down.png);
    top: 10;
    right: 14px;
    width: 20px;
    height: 20px;

}

.button:hover{
    background: white;
}

.dropdown-options{
    display: none;
    position: absolute;
    overflow: auto;
    background: white;
    
    
}

.dropdown-options a{
    padding: 10px 14px;

}

.tyt-search{
    background: #7F57F1;
    padding: 12px 99px;
    border-radius: 8px;
}

.block{
   padding: 40px 39px;
}

.tyt{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.dropdown:hover .dropdown-options{
    display: block;
}

.dropdown-options a{
    display: block;
    color: black;
    width: 253px;
   

}

.search{
    background: #7F57F1;
   
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.dropdown-options a:hover{
    color: #7F57F1;
    background: white;
}

.properties{
    margin-top: 200px;
}

.properties h2{
    color: #7F57F1;
}

.heading{
    font-family: "Playfair Display";
   text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.heading p{
    font-family: Montserrat;
    font-weight: medium;
    font-size: 18px;
    margin-top: 24px;
    color: #2F234F;
    margin-bottom: 68px;
}

.heading h2{
    color: #7F57F1;
}

.features .heading{
    display: flex;
    justify-content: start;
}
.features .heading h2{
    padding-bottom: 42px;
}


.properties-block{
    display: flex;
}
.bli{
    margin-right: 32px;
    width: 384px;
    height: 557px;
}

.column img{
    width: 384px;
    height: 265px;
}

.column{
    flex-wrap: wrap;
    gap: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.features-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b h3{
    padding-bottom: 16px;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 600;
}

.b{
    padding: 24px;
 
    width: 594px;
    border-radius: 8px;
    
    box-shadow:  5px 5px   #D0D5DD; ;
    
}
.b:not(:last-child){
    margin-bottom: 20px;
}

/* .column img:hover{
    background: #000;
} */


.prefooter{
    height: 416px;
    display: flex;
    justify-content: end;
    color: white;
    position: relative;
    padding-top: 72px;
}

.prefooter h4{
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 8px;
    
}

.outro{
    background: #7F57F1;

}
.r{
    position: absolute;
    top: 0;
    left: 0;
}

.text input{
    width: 414px;
    padding: 16px 24px;
    border-radius: 8px;
    margin-top: 24px;
    
}

.input a{
    padding: 18px 50px;
    background: #865CFE;
}


footer{
    
    color: black;

   padding-bottom: 96px;
    padding-top: 96px;
}

.footer-logo{
margin-bottom: 24px;
}

.row h5 {
    padding-bottom: 24px;
}

.row p{
    padding-bottom: 8px;
}

.e{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
